{% extends "base.html" %} <!--inherit. Should be the first thing-->
{% load static %}
{% block title %}{{block.super}} - Post{% endblock title %}

{% block stylesheet %}
    {{block.super}}
    <link rel='stylesheet' href="{% static 'css/form.css' %}" />
{% endblock stylesheet %}

{% block content %}
<h1>Share your boook</h1>
<div class='post-form'>
    <form method='post'>
        {% csrf_token %}
        {{ form }}
        <input type='submit' value='Submit' />
    </form>
</div>
{% endblock content %}