{% load custom_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>{{book.title}}</h1>
        <p><b>isbn</b>: {{book.isbn}}</p>
        <p><b>description</b>: {{book.description}}</p>
        <p><b>Pages</b>: {{book.page_count}}</p>
        <p><b>Tags</b>: {{tags|semi_colon_separator}}</p>
        <p><b>Category</b>: {{book.category}}</p>
        <p><b>Authors</b>: {{authors|semi_colon_separator}}</p>
        <p><b>Published Year</b>: {{book.published_date}}</p>
        <p><b>Publisher</b>: {{book.publisher}}</p>
        <p><b>Language</b>: {{book.lang}}</p>
        <p><b>Edition</b>: {{book.edition}}</p>
        <p><b>Format</b>: {{book.book_format}}</p>
        <script src="" async defer></script>
    </body>
</html>