{% extends "base.html" %} <!--inherit. Should be the first thing-->
{% load custom_tags %} <!-- import -->

{% block title %}{{block.super}} - {{book.title}}{% endblock title %}

{% block content %}
        <h1>{{book.title}}</h1>
        <p><b>isbn</b>: {{book.isbn}}</p>
        <p><b>description</b>: {{book.description}}</p>
        <p><b>Pages</b>: {{book.page_count}}</p>
        <p><b>Tags</b>: {{book.tags.all|join_fields|semi_colon_separator}}</p>
        <p><b>Category</b>: {{book.category}}</p>
        <p><b>Authors</b>: {{book.authors.all|join_fields|semi_colon_separator}}</p>
        <p><b>Published Year</b>: {{book.published_date}}</p>
        <p><b>Publisher</b>: {{book.publisher}}</p>
        <p><b>Language</b>: {{book.lang}}</p>
        <p><b>Edition</b>: {{book.edition}}</p>
        <p><b>Format</b>: {{book.book_format}}</p>
{% endblock content %}